
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D0E4AE;
    color: #194B32;
    text-align: justify;
    margin: 0;
}
h2::selection{
    color: #D0E4AE;
    background-color: #194B32;
}
h1::selection{
    color: #194B32;
    background-color: #D0E4AE;
}
h1{
    text-align: center;
    background-color: #194B32;
    color:#D0E4AE;
}
h2{
    text-align: center;
}
p#principal{
    text-align: justify;
    background-color: #194B32;
    color:#D0E4AE;
    padding: 20px;
    margin: 0;
}
p{
    padding: 20px;
    margin: 0;
}
.noticias{
    text-align: left;
    padding-left: 12px;
}
address{
    padding: 20px;
    font-style: italic;
}
img{
    width: 400px;
}
a{
    text-decoration: none;
}
nav{
    background-color: #194B32;
    color: #D0E4AE;
    margin: 0;
    padding: 10px;
    width: 100%;
    border: 0;
}
#home{
    margin: 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #D0E4AE;
    padding: 4px;
}
nav ul li a:hover{
    text-decoration: none;
    background-color: #D0E4AE;
    color: #194B32;
    padding: 4px;
    border-radius: 2px;
}
span.destaque{
    font-weight: bold;
    background-color:#194B32;
    color:#D0E4AE;
}
.info{
    background-color: #194B32;
    color: #D0E4AE;
    margin: 0;
    padding: 20px;
    margin-top: 20px;
}
.info a{
    color: #D0E4AE;
    text-decoration: underline;
}
.botao a{
    text-decoration: none;
    color: #194B32;
    border: 2px solid #194B32;
    padding: 8px;
    border-radius: 8px;
}
.botao a:hover{
    color: #D0E4AE;
    background-color: #194B32;
}